@media only screen and (max-width: 800px) {
  mat-grid-list {
    height: calc(80% + 0px + 0px) !important;
  }
}

body {
  background-color: #fff !important;
}

.login-page {
  background-color: #fff !important;
}

img.display-center {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

.img-banner {
  background-image: url("/assets/img/backgroud-nw.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 50%;
}

.img-banner .bg-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  opacity: .5;
  background-color: #292626;
}

*, :after, :before {
  box-sizing: border-box;
}

.mat-card {
  box-shadow: none;
}

.mat-form-field {
  width: 100%;
}

.mat-stroked-button {
  background-color: #3f51b5;
  cursor: pointer;
  height: 50px;
}

.mat-stroked-button:hover {
  background-color: #000;
  cursor: pointer;
  height: 50px;
}

.mat-icon {
  font-size: 24px !important;
}

.btn-block span {
  color: #fff;
}