<mat-toolbar class="toolbar">

  <!-- Logomarca -->
  <div class="logo-card-left" [ngStyle]="{'width': widthSidenav, 'min-width': minwidthSidenav, 'text-aling': text}">
    <mat-card>
      <img mat-card-image src="\assets\img\logo.png" alt="Logomarca da empresa" />
      <span class="logo-name" [ngStyle]="{'display': display}">{{currentUser.company}}</span>
    </mat-card>
  </div>
  <div class="btn-minimized-painel">
    <button mat-menu-item (click)="minizedPainelLeft()">
      <mat-icon aria-hidden="false" aria-label="keyboard_arrow_left icon">keyboard_arrow_left</mat-icon>
    </button>
  </div>
  <!-- Botoes da direita do header -->
  <div class="icons-right">
    <button mat-button (click)="onToggleFullscreen()">
      <mat-icon aria-hidden="false" aria-label="fullscreen icon">fullscreen</mat-icon>
    </button>
    <button mat-button (click)="toggleTheme()">
      <mat-icon aria-hidden="false" aria-label="dark theme icon">brightness_medium</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="info">
      <mat-icon matBadge="1" matBadgeColor="warn">notifications_none</mat-icon>
    </button>
    <mat-menu #info="matMenu" yPosition="below">
      <button mat-menu-item>Note 1</button>
      <mat-divider></mat-divider>
      <button mat-menu-item>Note 2</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="profile">
      <mat-icon>
        <div class="profile-image-right"></div>
      </mat-icon>
    </button>
    <mat-menu #profile="matMenu" yPosition="below">
      <button mat-menu-item>
        <mat-icon aria-hidden="false" aria-label="person_pin_circle icon">person_pin_circle</mat-icon>
        Perfil
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item>
        <mat-icon aria-hidden="false" aria-label="settings icon">settings</mat-icon>
        Configurações
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon aria-hidden="false" aria-label="logout icon">power_settings_new</mat-icon>
        Sair
      </button>
    </mat-menu>
  </div>
</mat-toolbar>