/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; margin: 0; }
body { 
  margin: 0; 
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  transition: all .5s;
  font-size: 13px;
}

* {
  font-family: "Poppins", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Removendo scroll padrao */
.mat-drawer-inner-container{
  overflow: hidden !important;
}

/* Removendo margem inserido auto pelo material design */
.mat-card-header-text {
  margin: 0 !important;
}
